/*********************************************

Some basic styling to make text display a little more prettily.

**********************************************/

body {
  font-family: Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  width: 50vw;
  margin: auto;
  padding-top: 2rem;
  overflow: hidden;
}

.mover, .spinner, .skewer {
  display: inline-block;
  position: relative;
  color: gray;
}
